<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diseño</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/estilo.css">
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"> <h2> Diseño </h2></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="index.html">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="novedad.html">Novedad</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="comprar.html">Comprar</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <a href="traje.html">
                <img src="img/t1.png" width="400px" class="d-block w-100 " alt="...">
              </a>
            <div class="card-body">
              <p class="card-text"><h1> Philip Black </h1>
                Los tejidos de la serie Philip tienen hilos bastante gruesos. Por lo tanto, el material es elegante y duradero. También es bastante resistente a las arrugas.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <a href="traje.html">
                <img src="img/t2.png" width="400px" class="d-block w-100 " alt="...">
              </a>
            <div class="card-body">
              <p class="card-text"><h1>  Lyon - Navy </h1>
                Telas tejidas al fresco para un traje perfecto, las telas Lyon son geniales durante todo el año con algo de elasticidad para mayor comodidad</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <a href="traje.html">
                <img src="img/t3.png" width="400px" class="d-block w-100 " alt="...">
              </a>
            <div class="card-body">
              <p class="card-text"><h1> Philip Mid Grey</h1>
                Los tejidos de la serie Philip tienen hilos bastante gruesos. Por lo tanto, el material es elegante y duradero. También es bastante resistente a las arrugas.</p>
            </div>
          </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
              <a href="traje.html">
                  <img src="img/t4.png" width="400px" class="d-block w-100 " alt="...">
                </a>
              <div class="card-body">
                <p class="card-text"><h1>Grenoble - Blue </h1>
                    Tejidos clásicos versátiles. Lana 100% premium en tejidos a rayas, cuadros y lisos</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <a href="traje.html">
                  <img src="img/t5.png" width="400px" class="d-block w-100 " alt="...">
                </a>
              <div class="card-body">
                <p class="card-text"><h1> Edward - Denim Blue Striped </h1>
                    Un hombre bien equipado siempre debe incluir un traje a rayas en su guardarropa.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <a href="traje.html">
                  <img src="img/t6.png" width="400px" class="d-block w-100 " alt="...">
                </a>
              <div class="card-body">
                <p class="card-text"><h1> Lyon - Black</h1>
                    Telas tejidas al fresco para un traje perfecto, las telas Lyon son geniales durante todo el año con algo de elasticidad para mayor comodidad.</p>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm">
              <a href="traje.html">
                  <img src="img/t7.png" width="400px" class="d-block w-100 " alt="...">
                </a>
              <div class="card-body">
                <p class="card-text"><h1>Durham - Light Blue</h1>
                    Tejidos versátiles de gran rendimiento y resistencia a las arrugas. Telas de primera calidad hechas de 100 % lana, donde la mayoría de las telas son del hilandero de primera calidad WILLIAM THOMSON</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <a href="traje.html">
                  <img src="img/t8.png" width="400px" class="d-block w-100 " alt="...">
                </a>
              <div class="card-body">
                <p class="card-text"><h1>Durham - Midnight Blue</h1>
                    Tejidos versátiles de gran rendimiento y resistencia a las arrugas. Telas de primera calidad hechas de 100 % lana, donde la mayoría de las telas son del hilandero de primera calidad WILLIAM THOMSON.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <a href="traje.html">
                  <img src="img/t9.png" width="400px" class="d-block w-100 " alt="...">
                </a>
              <div class="card-body">
                <p class="card-text"><h1>Flynn - Night Blue</h1>
                    Tonos de azul en lana premium superfina. Estos tejidos tienen un rendimiento casi sin arrugas, perfectos para cualquier traje en el negocio del placer.</p>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm">
              <a href="traje.html">
                  <img src="img/t10.png" width="400px" class="d-block w-100 " alt="...">
                </a>
              <div class="card-body">
                <p class="card-text"><h1>Flynn - Sky Blue</h1>>
                    Tonos de azul en lana premium superfina. Estos tejidos tienen un rendimiento casi sin arrugas, perfectos para cualquier traje en el negocio del placer.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <a href="traje.html">
                  <img src="img/t11.png" width="400px" class="d-block w-100 " alt="...">
                </a>
              <div class="card-body">
                <p class="card-text"><h1>Grenoble - Black</h1>
                    Tejidos clásicos versátiles. Lana 100% premium en tejidos a rayas, cuadros y lisos.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <a href="traje.html">
                  <img src="img/t12.png" width="400px" class="d-block w-100 " alt="...">
                </a>
              <div class="card-body">
                <p class="card-text"><h1>Durham - Ink Blue</h1>>
                    Tejidos versátiles de gran rendimiento y resistencia a las arrugas. Telas de primera calidad hechas de 100 % lana, donde la mayoría de las telas son del hilandero de primera calidad WILLIAM THOMSON</p>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm">
              <a href="traje.html">
                  <img src="img/t13.png" width="400px" class="d-block w-100 " alt="...">
                </a>
              <div class="card-body">
                <p class="card-text"><h1>Flynn - Clear Evening Blue</h1>>
                    Tonos de azul en lana premium superfina. Estos tejidos tienen un rendimiento casi sin arrugas, perfectos para cualquier traje en el negocio del placer.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <a href="traje.html">
                  <img src="img/t14.png" width="400px" class="d-block w-100 " alt="...">
                </a>
              <div class="card-body">
                <p class="card-text"><h1>Montrose - Light Grey Melange Check</h1>
                    No hay forma de pasar desapercibido con estos fantásticos tejidos de cuadros. Elija de nuestra categoría Montrose del molino premium WILLIAM THOMSON.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <a href="traje.html">
                  <img src="img/t15.png" width="400px" class="d-block w-100 " alt="...">
                </a>
              <div class="card-body">
                <p class="card-text"><h1>Montrose - Ocean Blue Check</h1>
                    No hay forma de pasar desapercibido con estos fantásticos tejidos de cuadros. Elija de nuestra categoría Montrose del molino premium WILLIAM THOMSON.</p>
              </div>
            </div>
          </div>
          
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>
    <script src="main.js"></script>
</body>
</html>