<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comprar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/estilo.css">
</head>
<body>
    
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <img src="img/logo.png" alt="Descripción de la imagen" id="logo">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="index.html">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="nosotros.html">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Ofertas</a>
          </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Traje Masculino
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="sacoMasculino.html">Saco</a></li>
              <li><a class="dropdown-item" href="sacoMasculino.html">Pantalones</a></li>
              <li>
              </li>
              <li><a class="dropdown-item" href="sacoMasculino.html">Chaleco</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Traje Femenino
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="sacoFemenino.html">Saco</a></li>
              <li><a class="dropdown-item" href="sacoFemenino.html">Pantalones</a></li>
              <li>
              </li>
              <li><a class="dropdown-item" href="sacoFemenino.html">Chaleco</a></li>
            </ul>
          </li> -->

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="diseno.html">Tienda</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="micuenta.html">Mi Cuenta</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="carrito.html">Carrito</a>
          </li>

         

        </ul>
        <form class="dropdown-header">
        </form>
      </div>
    </div>
  </nav>

      <main>
       
    
        <div class="row g-5">
          <div class="col-md-7 col-lg-7">
            <h4 class="mb-3">Dirección de Envio</h4>
            <form class="needs-validation" novalidate="">
              <div class="row g-3">
                <div class="col-sm-6">
                  <label for="firstName" class="form-label">Nombre</label>
                  <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
                  <div class="invalid-feedback">
                    Ingrese Su Nombres
                  </div>
                </div>
    
                <div class="col-sm-6">
                  <label for="lastName" class="form-label">Apellido</label>
                  <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
                  <div class="invalid-feedback">
                    Ingrese Su Apellido
                  </div>
                </div>
    
    
                <div class="col-12">
                  <label for="email" class="form-label">Correo electrónico<span class="text-muted"><font style="vertical-align: inherit;">(Opcional)</font></span></label>
                  <input type="email" class="form-control" id="email" placeholder="example@ejemplo.com">
                  <div class="invalid-feedback">
                    Please enter a valid email address for shipping updates.
                  </div>
                </div>
    
                <div class="col-12">
                  <label for="address" class="form-label">Dirección</label>
                  <input type="text" class="form-control" id="address" placeholder="1234 calle principal" required="">
                  <div class="invalid-feedback">
                    Please enter your shipping address.
                  </div>

                </div>    
                <div class="col-md-5">
                  <label for="country" class="form-label">País</label>
                  <select class="form-select" id="country" required="">
                    <option value="">Bolivia</option>
                  </select>
                  <div class="invalid-feedback">
                    Please select a valid country.
                  </div>
                </div>
    
                <div class="col-md-4">
                  <label for="state" class="form-label">Estado</label>
                  <select class="form-select" id="state" required="">
                    <option value="">Cochabamba</option>
                    <option>Santa Cruz</option>
                    <option>Oruro</option>
                    <option>La Paz</option>
                  </select>
                  <div class="invalid-feedback">
                    Please provide a valid state.
                  </div>
                </div>
    
                <div class="col-md-3">
                  <label for="zip" class="form-label">Facebook(opcional)</label>
                  <input type="text" class="form-control" id="zip" placeholder="" required="">
                </div>
              </div>

              <hr class="my-4">
    
              <h4 class="mb-3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Pago</font></font></h4>
    
              <div class="my-3">
                <div class="form-check">
                  <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked="" required="">
                  <label class="form-check-label" for="credit"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Forma Presencial -- Reserva</font></font></label>
                </div>
                <div class="form-check">
                    <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked="" required="">
                    <label class="form-check-label" for="credit"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tigo Money</font></font></label>
                  </div>
              <hr class="my-4">
    
              <button class="w-100 btn btn-primary btn-lg" type="submit">Enviar</button>
            </form>
          </div>
        </div>
      </main>

      <footer class="bg-dark text-white p-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <h3>Contacta con Nosotros</h3>
                    <div>

                    <a id="facebook-link" href="https://www.facebook.com/profile.php?id=100054542077029" class="text-white me-2" target="_blank">
                        <img src="img/facebook.png" height="35px" width="35px"> Sastreria Jimenez
                    </a>
                    <br>
                    <a id="whatsapp-link" href="https://wa.me/59177448360"class="text-white" target="_blank">
                        <img src="img/whatsapp.png" height="35px" width="35px"> 77448360
                    </a>
                    <a id="whatsapp-link" href="https://wa.me/59165741113"class="text-white" target="_blank">
                      <img src="img/whatsapp.png" height="35px" width="35px"> 65741113
                  </a>
                    
                  </div>
                </div>
                <div class="col-lg-4">
                    <h3>Información de Contacto</h3>
                    <address>
                        <strong>Sastrería Jimenez</strong><br>
                        Dirección: San Loranzo - Av-D'Orbigny, Cochabamba
                        <br>
                        Correo Electrónico: lauraximena@gmail.com
                    </address>
                </div>
                
                <div class="col-lg-3">
                  <h3>Detalles Adicionales</h3>
                  <ul>
                      <li><a href="#">Términos y Condiciones</a></li>
                      <li><a href="#">Detalles de Entrega</a></li>
                  </ul>
              </div>
            </div>
        </div>
    </footer>





<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/64caaa5ecc26a871b02ce0d7/1h6rqj0tt';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>
    <script src="main.js"></script>
</body>
</html>