<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diseño</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/estilo.css">
</head>
<body>
    
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <img src="img/logo.png" alt="Descripción de la imagen" id="logo">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="index.html">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="nosotros.html">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Ofertas</a>
          </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Traje Masculino
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="sacoMasculino.html">Saco</a></li>
              <li><a class="dropdown-item" href="sacoMasculino.html">Pantalones</a></li>
              <li>
              </li>
              <li><a class="dropdown-item" href="sacoMasculino.html">Chaleco</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Traje Femenino
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="sacoFemenino.html">Saco</a></li>
              <li><a class="dropdown-item" href="sacoFemenino.html">Pantalones</a></li>
              <li>
              </li>
              <li><a class="dropdown-item" href="sacoFemenino.html">Chaleco</a></li>
            </ul>
          </li> -->

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="diseno.html">Tienda</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="micuenta.html">Mi Cuenta</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="carrito.html">Carrito</a>
          </li>

         

        </ul>
        <form class="dropdown-header">
        </form>
      </div>
    </div>
  </nav>



<!-- Traje diseño con el color. -->
<div class="container col-xxl-8 px-2 py-4">
  <div class="row flex-lg-row align-items-center g-5 py-5">
      <div class="col-lg-4">
        <button class="fabric-button"  id="bt2" onclick="change2()"><img src="img/t2.png" width="50px" height="50px"></button>
        <button class="fabric-button"  id="bt1" onclick="change1()"><img src="img/t1.png" width="50px" height="50px"></button>
        <button class="fabric-button"  id="bt3" onclick="change3()"><img src="img/t3.png" width="50px" height="50px"></button>
        <button class="fabric-button"  id="bt4" onclick="change4()"><img src="img/t4.png" width="50px" height="50px"></button>
        <button class="fabric-button"  id="bt5" onclick="change5()"><img src="img/t5.png" width="50px" height="50px"></button>
        <button class="fabric-button"  id="bt6" onclick="change6()"><img src="img/t6.png" width="50px" height="50px"></button>
        <button class="fabric-button"  id="bt7" onclick="change7()"><img src="img/t7.png" width="50px" height="50px"></button>
        <button class="fabric-button"  id="bt8" onclick="change8()"><img src="img/t8.png" width="50px" height="50px"></button>
        <button class="fabric-button"  id="bt9" onclick="change9()"><img src="img/t9.png" width="50px" height="50px"></button>
        <button class="fabric-button"  id="bt10" onclick="change10()"><img src="img/t10.png" width="50px" height="50px"></button>
        <button class="fabric-button"  id="bt11" onclick="change11()"><img src="img/t11.png" width="50px" height="50px"></button>
        <button class="fabric-button"  id="bt12" onclick="change12()"><img src="img/t12.png" width="50px" height="50px"></button>
        <button class="fabric-button"  id="bt13" onclick="change13()"><img src="img/t13.png" width="50px" height="50px"></button>
        <button class="fabric-button"  id="bt14" onclick="change14()"><img src="img/t14.png" width="50px" height="50px"></button>
        <button class="fabric-button"  id="bt15" onclick="change15()"><img src="img/t15.png" width="50px" height="50px"></button>

      </div>
      <div class="col-10 col-sm-9 col-lg-6">
        <img id="tr1" src="img/tr1.png" width="400px">
      </div>
    </div>
</div>
      
<footer class="bg-dark text-white p-3">
  <div class="container">
      <div class="row">
          <div class="col-lg-5">
              <h3>Contacta con Nosotros</h3>
              <div>

              <a id="facebook-link" href="https://www.facebook.com/profile.php?id=100054542077029" class="text-white me-2" target="_blank">
                  <img src="img/facebook.png" height="35px" width="35px"> Sastreria Jimenez
              </a>
              <br>
              <a id="whatsapp-link" href="https://wa.me/59177448360"class="text-white" target="_blank">
                  <img src="img/whatsapp.png" height="35px" width="35px"> 77448360
              </a>
              <a id="whatsapp-link" href="https://wa.me/59165741113"class="text-white" target="_blank">
                <img src="img/whatsapp.png" height="35px" width="35px"> 65741113
            </a>
              
            </div>
          </div>
          <div class="col-lg-4">
              <h3>Información de Contacto</h3>
              <address>
                  <strong>Sastrería Jimenez</strong><br>
                  Dirección: San Loranzo - Av-D'Orbigny, Cochabamba
                  <br>
                  Correo Electrónico: lauraximena@gmail.com
              </address>
          </div>
          
          <div class="col-lg-3">
            <h3>Detalles Adicionales</h3>
            <ul>
                <li><a href="#">Términos y Condiciones</a></li>
                <li><a href="#">Detalles de Entrega</a></li>
            </ul>
        </div>
      </div>
  </div>
</footer>


</body>
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/64caaa5ecc26a871b02ce0d7/1h6rqj0tt';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>
    <script src="js/custom.js"></script>
</body>
</html>