<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/estilo.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <img src="img/logo.png" alt="Descripción de la imagen" id="logo">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="index.html">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="nosotros.html">Nosotros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Ofertas</a>
              </li>
              <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Traje Masculino
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="sacoMasculino.html">Saco</a></li>
                  <li><a class="dropdown-item" href="sacoMasculino.html">Pantalones</a></li>
                  <li>
                  </li>
                  <li><a class="dropdown-item" href="sacoMasculino.html">Chaleco</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Traje Femenino
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="sacoFemenino.html">Saco</a></li>
                  <li><a class="dropdown-item" href="sacoFemenino.html">Pantalones</a></li>
                  <li>
                  </li>
                  <li><a class="dropdown-item" href="sacoFemenino.html">Chaleco</a></li>
                </ul>
              </li> -->
    
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="diseno.html">Tienda</a>
              </li>

              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="micuenta.html">Mi Cuenta</a>
              </li>

              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="carrito.html">Carrito</a>
              </li>
    
             
    
            </ul>
            <form class="dropdown-header">
            </form>
          </div>
        </div>
      </nav>

      

    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="img/sastreria.png" class="d-block mx-lg-auto img-fluid" alt="Temas de arranque" width="700"
                    height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Historia De Nuestra Sastreria</h1>
                <p class="lead">
                    En Sastrería Jimenez, nos especializamos en la confección y arreglos , ofreciendo a nuestros clientes una combinación excepcional de precios competitivos y una calidad superior. Desde 2009, hemos sido un pilar de nuestra comunidad, brindando 14 años de servicio constante y en constante crecimiento. A lo largo de estos años, nos hemos destacado como un referente en el mundo de la confección y los arreglos de trajes, brindando un servicio de calidad, experiencia y puntualidad. Nuestra dedicación a proporcionar trajes de alta calidad a precios asequibles nos ha convertido en la elección preferida de quienes buscan el equilibrio perfecto entre costos y calidad en la confección de trajes.
                </p>
            </div>
        </div>
    </div>

    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row align-items-center g-5 py-5">
            <div class="col-lg-6">
                <img src="img/sastreria.png" class="d-block mx-lg-auto img-fluid" alt="Temas de arranque" width="700" height="500" loading="lazy">
                <img src="img/sastreria.png" class="d-block mx-lg-auto img-fluid" alt="Temas de arranque" width="700" height="500" loading="lazy">
            </div>
            <div class="col-10 col-sm-8 col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Nuestro Destacado Equipo de Sastrería</h1>
                <p class="lead">
                    En Sastrería Jimenez, creemos que un equipo fuerte es la clave para brindar un servicio excepcional en la artesanía de la confección de trajes. Estamos orgullosos de presentar a nuestro dedicado equipo de sastreros, Laura y Luis, quienes han trabajdo en la creación de trajes durante los últimos 15 años.
                    
                   <br> 
                   <br>
                   <strong>Laura</strong>  es una apasionada de la confección de trajes , trae un conocimiento excepcional y un ojo experto para los detalles a nuestro taller. 
                   Su habilidad en la creación de trajes y su compromiso con la calidad en cada prenda que sale de nuestras instalaciones. 
                   Laura trabaja en la confección de trajes para hombres, mujeres y jóvenes, y su experiencia es un activo invaluable para nuestra sastrería.
                    
                   <br>
                   <br>

                   <strong>Luis</strong> es nuestro especialista en pantalones de damas y caballeros. 
                    Es un experto en la creación de pantalones que se adaptan perfectamente a la forma y el estilo de cada cliente.Su dedicación a su oficio se 
                    refleja en la satisfacción de nuestros clientes.
                    <br>
                    <br>
                    En la Sastrería Jimenez, nuestro equipo trabaja en armonía para ofrecer confecciones excepcionales que reflejan la pasión, el conocimiento
                     y la dedicación.
                </p>
            </div>
        </div>
    </div>
    
    
    
    

    <div class="container my-4">
        <div class="text-center"> <!-- Agregamos la clase text-center para centrar el título -->
            <h2>Ubicación de la Sastrería</h2>
        </div>
        <div id="map-container" class="mt-3">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d282.9940282153367!2d-66.1762726556674!3d-17.387842647902758!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x93e375479ebccd85%3A0xf2fc3b5a7a9a1081!2sSastrer%C3%ADa%20Jimenez!5e0!3m2!1ses-419!2sbo!4v1697490550393!5m2!1ses-419!2sbo" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>

 
      <footer class="bg-dark text-white p-3">
          <div class="container">
              <div class="row">
                  <div class="col-lg-5">
                      <h3>Contacta con Nosotros</h3>
                      <div>

                      <a id="facebook-link" href="https://www.facebook.com/profile.php?id=100054542077029" class="text-white me-2" target="_blank">
                          <img src="img/facebook.png" height="35px" width="35px"> Sastreria Jimenez
                      </a>
                      <br>
                      <a id="whatsapp-link" href="https://wa.me/59177448360"class="text-white" target="_blank">
                          <img src="img/whatsapp.png" height="35px" width="35px"> 77448360
                      </a>
                      <a id="whatsapp-link" href="https://wa.me/59165741113"class="text-white" target="_blank">
                        <img src="img/whatsapp.png" height="35px" width="35px"> 65741113
                    </a>
                      
                    </div>
                  </div>
                  <div class="col-lg-4">
                      <h3>Información de Contacto</h3>
                      <address>
                          <strong>Sastrería Jimenez</strong><br>
                          Dirección: San Loranzo - Av-D'Orbigny, Cochabamba
                          <br>
                          Correo Electrónico: lauraximena@gmail.com
                      </address>
                  </div>
                  
                  <div class="col-lg-3">
                    <h3>Detalles Adicionales</h3>
                    <ul>
                        <li><a href="#">Términos y Condiciones</a></li>
                        <li><a href="#">Detalles de Entrega</a></li>
                    </ul>
                </div>
              </div>
          </div>
      </footer>
  
  
  


<!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/64caaa5ecc26a871b02ce0d7/1h6rqj0tt';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  <!--End of Tawk.to Script-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="main.js"></script>
</body>

</html>