body {
    background-color: rgb(109, 109, 109);
  }

  *{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* burbujas */

.burbuja{
    border-radius: 50%;
    background: rgb(233, 199, 9);
    opacity: .3;

    position: absolute;
    bottom: -150;
    
    animation: burbujas 3s linear infinite ;
}

.burbuja:nth-child(1){
    width: 80px;
    height: 80px;
    left: 5%;
    animation-duration: 3s;
    animation-delay: 3s;
}

.burbuja:nth-child(2){
    width: 100px;
    height: 100px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 5s;
}

.burbuja:nth-child(3){
    width: 20px;
    height: 20px;
    left: 15%;
    animation-duration: 1.5s;
    animation-delay: 7s;
}

.burbuja:nth-child(4){
    width: 50px;
    height: 50px;
    left: 90%;
    animation-duration: 6s;
    animation-delay: 3s;
}

.burbuja:nth-child(5){
    width: 70px;
    height: 70px;
    left: 65%;
    animation-duration: 3s;
    animation-delay: 1s;
}

.burbuja:nth-child(6){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}

.burbuja:nth-child(7){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}

.burbuja:nth-child(8){
    width: 100;
    height: 100px;
    left: 52%;
    animation-duration: 5s;
    animation-delay: 5s;
}

.burbuja:nth-child(9){
    width: 65px;
    height: 65px;
    left: 51%;
    animation-duration: 3s;
    animation-delay: 2s;
}
.burbuja:nth-child(10){
    width: 40px;
    height: 40px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 4s;
}


@keyframes burbujas{
    0%{
        bottom: 0;
        opacity: 0;
    }
    30%{
        transform: translateX(30px);
    }
    50%{
        opacity: .4;
    }
    100%{
        bottom: 100vh;
        opacity: 0;
    }
}

@keyframes movimiento{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0);
    }
}



.btn-neon{
    position: relative;
    display:inline-block;
    padding:15px 30px;
    color:#000000;
    letter-spacing: 4px;
    font-size: 24px ;
    text-decoration: none;
    overflow: hidden;
    transition:0.2s;
}
.btn-neon:hover{
    background: #d7e60c;
    box-shadow: 0 0 10px #d7e60c, 0 0 40px #d7e60c, 0 0 80px #d7e60c;
    transition-delay: 1s;
}
.btn-neon span{
    position:absolute;
    display:block
}
#span1{
    top:0;
    left:-100%;
    width:100%;
    height:2px;
    background:linear-gradient(90deg,transparent,#F5AE0A);
}

.btn-neon:hover #span1{
    left:100%;
    transition:1s;
}

#span3{
    bottom:0;
    right:-100%;
    width:100%;
    height:2px;
    background:linear-gradient(270deg,transparent,#F5AE0A);
}

.btn-neon:hover #span3{
    right:100%;
    transition:1s;
    transition-delay: 0.5s;
}

#span2{
    top:100%;
    right:0%;
    width:2px;
    height:100%;
    background:linear-gradient(180deg,transparent,#F5AE0A);
}

.btn-neon:hover #span2{
    top:100%;
    transition:1s;
    transition-delay: 0.25s;
}

#span4{
    bottom:-100%;
    left:0;
    width:2px;
    height:100%;
    background:linear-gradient(3600deg,transparent,#F5AE0A);
}

.btn-neon:hover #span4{
    bottom:100%;
    transition:1s;
    transition-delay: 0.25s;
}


